@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400&family=Inter:wght@300;400;500;600&display=swap');

@theme {
  --font-serif: "Cormorant Garamond", serif;
  --font-sans: "Inter", sans-serif;
  
  --color-summer-paper: #f9f7f2;
  --color-summer-gold: #c5a059;
  --color-summer-ink: #1c1c1c;
}

body {
  background-color: var(--color-summer-paper);
  color: var(--color-summer-ink);
  font-family: var(--font-sans);
}

.serif {
  font-family: var(--font-serif);
}
